.favorite-panel {
  background: #FCFCFC;
  box-shadow: 1px 1px 1px 1px #f1f1f1;
  display: inline-block;
  font-family: sans-serif;
  position: relative;
  height: 100vh;
  vertical-align: top;
  width: 20%;
}

.favorite-container {
  margin: 30px auto;
  width: 100%;
}

.favorite__title {
  color: #888;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  padding-left: 14px;
}
