.container-dashboard-video-player {
  display: inline-block;
  vertical-align: top;
  width: 80%;
}

.dashboard-video-player {
  margin: 0 auto;
  margin-top: 40px;
  width: 82%;
}

.container-buttons {
  margin-top: 10px;
}

.container-buttons .button-control {
  font-size: 17px;
  font-weight: 400;
}

.col-md-6 {
  display: inline-block;
  margin: 0 0.1%;
  width: 49.8%;
}
